/* Imports from the Properties folder */
/* Imports from the Components folder */
/* https://codepen.io/bowersrd/pen/dwXLba?editors=1100 */
.mnp-navigation-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  overflow: hidden;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar img {
  height: 16px;
  width: auto;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar #navigationBarMobileMenu.is-active .mnp-c-navigation-slab:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.mnp-navigation-wrapper .mnp-c-navigation-bar #navigationBarMobileMenu.is-active .mnp-c-navigation-slab:nth-child(2) {
  opacity: 0;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar #navigationBarMobileMenu.is-active .mnp-c-navigation-slab:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-bar-toggle {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 25px;
  display: none;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-bar-toggle .mnp-c-navigation-slab {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-bar-toggle:hover {
  cursor: pointer;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-cluster {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-column-align: end;
      justify-self: end;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-cluster a {
  color: #000000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.mnp-navigation-wrapper .mnp-c-navigation-bar .mnp-c-navigation-cluster a:hover {
  color: #3498db;
}

@media only screen and (max-width: 720px) {
  .mnp-c-navigation-bar-toggle .mnp-c-navigation-slab {
    display: block;
    cursor: pointer;
  }
  .mnp-c-navigation-cluster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 55px;
    background-color: #FFFFFF;
    width: 100%;
    height: calc(100vh - 55px);
    -webkit-transform: translate(-101%);
            transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  .mnp-c-navigation-cluster .mnp-c-navigation-item {
    padding: 15px;
  }
  .mnp-c-navigation-cluster .mnp-c-navigation-item a {
    font-size: 1rem;
  }
  .mnp-c-navigation-cluster .mnp-c-navigation-item:first-child {
    margin-top: 50px;
  }
  .mobile-nav {
    -webkit-transform: translate(0%) !important;
            transform: translate(0%) !important;
  }
}

#mnp-software-projects-table .mnp-c-table-search {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #DDDDDD;
  margin: 15px 0px 15px 0px;
}

#mnp-software-projects-table .mnp-c-table-search:focus {
  outline: none;
}

#mnp-software-projects-table .mnp-c-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

#mnp-software-projects-table .mnp-c-table .mnp-c-table-header {
  background-color: #f0f0f0;
}

#mnp-software-projects-table .mnp-c-table .mnp-c-table-heading, #mnp-software-projects-table .mnp-c-table td {
  text-align: left;
  padding: 12px;
}

#mnp-software-projects-table .mnp-c-table tr {
  border-bottom: 1px solid #ddd;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mnp-page-wrapper {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=app.css.map */